.homepage .static_frame {
  width: 100%;
  background: #2c261e;
}

.homepage .static_frame .stat_stack {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 236px;
}

.homepage .personage_img.left {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays_left.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .personage_img.right {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays_left.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #ffffff;
}

.homepage .static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

.homepage .top_restaurant_frame {
    width: 100%;
    height: 605px;
    display: flex;
    background: #0b0e11;
}

.homepage .category_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #e3c08d;  
}

.homepage .top_restaurant_frame .top_restaurants_total {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.homepage .top_restaurant_frame .top_restaurant_cards {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 43px;
    margin: 16px;
}
